body {
    height: 100vh;
}

body>* {
    display: flex;
}

.text, .paragraph {
    display: flex;
    flex-direction: column;
}

div:has(.canva)>:nth-child(2) {
    margin-left: 5%;
}

.text {
    min-width: 400px;
}

.expand {
    min-width: 700px;
}

.paragraph {
    min-width: 500px;
}

.text>* {
    white-space: nowrap;
}

main {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 60%;
    gap: 15%;
}

main>*>* {
    background-color: red;
}